/build
/python/windycode
/python/build
/python/dist

tags
!tags/

*.pyc
*.egg
*.egg-info

CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
*_unittests
*.a
*.so
*.dylib
cmake_install.cmake
wdc
wdcd
